
#header 
{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 60px;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
        
        
}

#submit-button 
{

    grid-area: b1-100;
    
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);

}

#jeopardy 
{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "b1-100 b2-100 b3-100 b4-100 b5-100"
    "b1-200 b2-200 b3-200 b4-200 b5-200"
    "b1-400 b2-400 b3-400 b4-400 b5-400"
    "b1-600 b2-600 b3-600 b4-600 b5-600"
    "b1-800 b2-800 b3-800 b4-800 b5-800"
    ;
   
}

#input-div {
    display: flex;
    justify-content: center;
    font-size: 18px;
    
    margin: 2%;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 0%;
    
}

#score {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 1%;
    margin: 2%;
}

#display-area {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 2%;
    margin: 2%;
}

#b1-100{
    grid-area: b1-100;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
    

    
}
#b2-100{
    grid-area: b2-100;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b3-100
{
    grid-area: b3-100;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b4-100{
    grid-area: b4-100;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b5-100{
    grid-area: b5-100;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b1-200{
    grid-area: b1-200;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b2-200{
    grid-area: b2-200;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b3-200{
    grid-area: b3-200;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b4-200{
    grid-area: b4-200;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b5-200{
    grid-area: b5-200;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b1-400{
    grid-area: b1-400;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b2-400{
    grid-area: b2-400;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b3-400{
    grid-area: b3-400;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b4-400{
    grid-area: b4-400;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b5-400{
    grid-area: b5-400;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b1-600{
    grid-area: b1-600;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b2-600{
    grid-area: b2-600;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b3-600{
    grid-area: b3-600;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b4-600{
    grid-area: b4-600;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b5-600{
    grid-area: b5-600;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b1-800{
    grid-area: b1-800;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b2-800{
    grid-area: b2-800;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b3-800{
    grid-area: b3-800;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b4-800{
    grid-area: b4-800;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
#b5-800{
    grid-area: b5-800;
    margin: 7%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}
